body {
text-align: center;
background-image: url("/bilder/02_low2.jpg");
}
a:link{
font-size: 30pt;
text-decoration: none;
color: #ffffff;
font-family: helvetica, sans-serif;
font-weight: bold;
}
a:visited {
font-size: 30pt;
text-decoration: none;
color: #ffffff;
font-family: Helvetica, sans-serif;
font-weight: bold;
}
a:hover {
text-decoration: underline;
}
