/* Internet Explorer css Hack */
html {
padding-top: 20px;
}

#container_1 {
margin: 0;
margin-left: 10px;
}

#nav_hor ul li a:hover {
border-bottom: solid 1px #ececec;
}

#nav_ver {
width: 229px;
}

.art {
width: 200px;
}

.nimg {
width: 150px;
}
